:root {
    --heading-bg-color: darkblue;
    --border-color: 1px solid black;
    --padding-size: 10px;
    --height-size: auto;
}




nav {
    background-color: var(--heading-bg-color);
    padding: var(--padding-size);
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
main {
    max-width: 100%;
}
h1 {
    color: var(--heading-bg-color);
    
}
main img {
    max-width: 150px;
    height: var(--height-size);
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}



aside {
    width: 20rem;
    background-color: #eee;
    padding: var(--padding-size);
    margin: 1rem;
    border: var(--border-color);
    color: #333;
    text-align: center;
    position: 100%;
}
aside img {
    width: 200px;
    height: var(--height-size);
     
}
footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}