:root {
    --heading-bg-color: darkblue;
    --border-color: 1px solid black;
    --padding-size: 10px;
    --height-size: auto;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}


nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    align-content: center;
    background-color: var(--heading-bg-color);
}
nav a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;

}
.grid {
    display: grid;
    align-items: center;
}
main{
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2
}


h1 {
    color: var(--heading-bg-color);
    border: bottom;   
}

main img {
    max-width: 150px;
    height: var(--height-size);
    border: var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}



aside {
    width: 20rem;
    background-color: #eee;
    padding: var(--padding-size);
    margin: 1rem;
    border: var(--border-color);
    color: #333;
    text-align: center;
    position: 100%;
}
aside img {
    width: 200px;
    height: var(--height-size);
     
}
footer {
    margin-top: 15px;
    border-top: var(--border-color);
    text-align: center;
}