.callout {
    max-width:400px;
    margin: 10px;
    background-color: #247;
    border: 1px solid rgb(0 0 0/0.1);
    padding: 10px; 
    color: white;
}
.callout img{
    float: right;
    margin: 0 0 10px 10px;
    width: 150 px;
    height: auto;
    padding: 1px;
    background-color: white;
    border: 1px solid black;
}

blockquote{
    margin: 0;

}

cite {
    display: block;
    border-top: 1px dotted white;
    text-align: right;
    font-size: smaller;
}
